@import '../css/reset.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;800&display=swap');

body{
    background-color: #151918;
    font-family: 'Montserrat';
}

.header{
    padding-bottom: 25px;
}

.container{
    width: 100%;
    padding: 0 70px;
}

.section{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 40px;
}

.row-cart{
    display: flex;
    justify-content: space-between;
}

.cards-products{
    max-width: 626px;
    width: 100%;
}
 

.card-product{
    background-color: #36383C;
    border-radius: 20px;
    display: flex;
    margin-bottom: 25px;
}

.card-product.out-of-stock{
    background: rgba(54, 56, 60, 0.5);
}

h1.out-of-stock{
    width: 100%;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 25px;
}

.container-card{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    max-width: 586px;
    width: 100%;
}  

.container-card div{
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.photo-product{
    width: 38px;
}

.title-and-image{
    max-width: 299px;
}

.card-product.out-of-stock .title-product{
    color: rgba(255, 255, 255, 0.5);
}

.card-product.out-of-stock .price{
    color: rgba(255, 255, 255, 0.5);
}

.card-product.out-of-stock .title-and-image{
    max-width: 450px;
}

.title-product{
    font-size: 20px;
    font-weight: 500;
}



.increase{
    border-radius: 20px;
    cursor: pointer;
}

.decrease{
    cursor: pointer;
    border-radius: 20px;
}

.count{
    font-size: 16px;
    font-weight: 400;
    width: 33px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
}

.price{
    font-weight: 500;
    font-size: 18px;
}

.btn-delete{
    width: 33px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    transition: .3s ease-in-out;
    cursor: pointer;
}
.btn-delete:hover{
    transform: translateY(-5px);
}

.grand-total{
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 25px;
}

.input-personal-data, .input-data-card{
    margin-top: 25px;
    position: relative;
}

.label-for-input-ordering, .label-for-input-card{
    font-size: 20px;
    font-weight: 400;
    color: rgba(255, 255, 255, .5);
    position: absolute;
    transform: translateY(-50%);
    transform-origin: left center;
    top:50%;
    left:0px;
    pointer-events: none;
    transition: .3s ease-in-out;
}

#number-card::placeholder, #cvv-cvc::placeholder{
    font-weight: 700;

}

.label-for-input-card{
    background-color: #36383C;
    top:40%;
}

.input-ordering:focus+.label-for-input-ordering, .input-ordering:not(:placeholder-shown) + .label-for-input-ordering, 
.input-card:focus+.label-for-input-card, .input-card:not(:placeholder-shown) + .label-for-input-card{
    top:-2vh;
    transform: translateY(-50%);
    opacity: 1;
    font-size: 14px;
    font-weight: 400;
}
.input-ordering{
    color:#fff;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(90deg, rgba(22, 193, 157, 0.5) 13.66%, rgba(7, 120, 153, 0) 102.96%);
    border-image-slice: 1;
    max-width: 250px;
    width: 100%;
}

.form-ordering{
    display: flex;
    flex-direction: column;
    background-color: #36383C;
    border-radius: 20px;
    align-items: center;
    width: 330px;
    padding: 0px 40px;
}

.input{
    background-color: #747474;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    max-width: 250px;
    width: 100%;
    height: 40px;
    margin-top: 25px;
}

.input-field-ordering{
    height: 40px;
    max-width: 230px;
    width: 100%;
}

.input-field-ordering::placeholder{
    font-size: 20px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);

}

.input-field-ordering{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.btn-ordering{
    margin: 35px 0;
    height: 45px;
    max-width: 230px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    background: linear-gradient(99.85deg, #14B69C 14.05%, #077899 45.38%);
    transition: .3s ease-in-out;
    border-radius: 10px;
}
.btn-ordering:hover{
    animation: bounce 1s;
}
@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.prob{
    display: flex;
    justify-content: center;
}

.prob .container{
    background-color: blue;
    display: flex;
    flex-direction: row;
}

.prob-div-add{
    background-color: #fff;
    border-radius: 10px;
    max-width: 1000px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}


.profile-cart{
    width: 60px;
    display: flex;
    justify-content: space-between;
}


.cart-empty{
    font-size: 25px;
    font-weight: 400;
}
