@import '../css/reset.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;800&display=swap');


body{
    font-family: 'Montserrat';
    color: #fff;
    background-color: #151918;
    background-size: cover;
}

.header{
    padding-bottom: 25px;
}
section, footer, header, main{
    width: 100%;
}
.container{
    width: 100%;
    padding: 0 70px;
}

.products-catalog{
    margin-top:15px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
}

.pagination-section{
    margin: 35px 0;
    display: flex;
    justify-content: center;
}

.products-row{
    display: flex;
    justify-content: space-between;
}
.filters{
    width: 250px;
    padding: 0px 20px 20px 0px;
    height: 615px;
}
.show-filters{
    display: none;
}

.cards{
    display: flex;
    gap: 10px;
    max-width: 1315px;
    width: 100%;
    flex-wrap: wrap;
}

.card-product{
    background-color: #36383C;
    border-radius: 20px;
    width: 320px;
    padding: 20px;
    height: 421px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    transition: .3s ease-in-out;
}
.card-product:hover{
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.5));
    transform: translateY(-10px);
}
.title-filters{
    display: flex;
    justify-content: space-between;
}
.close-filters{
    display: none;
}

.photo-product{
    /* margin-top: 30px; */
    /* margin-bottom: 20px; */
    max-width: 182px;
    max-height: 202px;
}

.description{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.btns{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 10px;
}



.add-to-favorites{
    width: 30px;
    transition: all .5s;
    cursor: pointer;
}

.add-to-favorites:hover{
    fill:#fff;
}

.add-to-cart{
    cursor: pointer;
    width: 35px;
    background: linear-gradient(129.24deg, #16C19D 27.11%, #077899 67.02%);
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s all;
}
.add-to-cart:hover{
    background: linear-gradient(129.24deg, #1618C1 27.11%, #077899 67.02%);
}
.info{
    max-width: 200px; 
    width: 100%;
}

.item-list-info{
    margin-top: 15px;
    font-size: 18px;
    font-weight: 500;
}


.price{
    font-size: 23px;
}

.type{
    color:rgba(255, 255, 255, 0.5);
}



.card{
    background-color: #151918;
}

.row-card{
    margin-bottom: 35px;
    display: flex;
    column-gap: 20px;
}


.checkboxes{
    margin: 10px 0;
}

.filter{
    margin-bottom: 35px;
}

.title-filter{
    font-weight: 500;
    font-size: 20px;
}

.custom-checkbox{
    opacity: 0;
    z-index: -1;
}

.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
}


label{
    display: flex;
    align-items: center;
    font-size: 16px;
}


.custom-checkbox:checked+label::before{
    transition-property: color;
    transition-duration: 4s;
    transition-delay: 2s;
    background: linear-gradient(124.82deg, #17C19B 14.21%, #04B7CB 54.46%);
}


.link-product{
    color:#fff;
}


.profile-cart{
    width: 60px;
    display: flex;
    justify-content: space-between;
}


.box-search{
    position: absolute;
    top: 33px;
    right: 130px;
    z-index: 12;
}

.input {
    padding: 10px;
    width: 60px;
    height: 35px;
    background: none;
    border: 0px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Montserrat;
    color: #fff;
    outline: none;
    transition: .4s all ease-in-out;
}

.input:text{
    font-size: 16px;
}

.input{
    visibility: hidden;
}

.input::placeholder{
    visibility: hidden;
}
.box-search:hover input{
    width: 240px;
    background: #36383C;
    border-radius: 10px;
    visibility: visible;
}

.box-search:hover .input::placeholder{
    visibility: visible;
}


.box-search img{
    position: absolute;
    top: 50%;
    right: 7%;
    transform: translate(-50%,-50%);
    font-size: 25px;
    color: rgba(255, 255, 255, 0.5);
    transition: .2s;
}
.box-search:hover img{
    opacity: 0;
    z-index: -1;
}

#pagination-container ul{
    display: flex;
    column-gap: 20px;
}



.current{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}

.page-link{
    color:rgba(255, 255, 255, 0.5);
    font-size: 20px;
    transition: color 0.2s;
}

.page-link:hover{
    font-weight: 500;
    color: #fff;
}


#pagination-container li:last-child{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}



.img-prev{
    width: 18px;
}

.img-next{
    width: 18px;
}





