@import '../css/reset.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;800&display=swap');

body{
    font-family: 'Montserrat';
    color: #fff;
}
/*header*/

.header{
    display: flex;
    justify-content: center;
    background-color: #0C3B6D;
    padding-bottom: 100px;
}

section, footer, header, main{
    width: 100%;
}

.container{
    width: 100%;
    padding: 0 70px;
}

.header-nav{
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.title{
    background: linear-gradient(100.06deg, #16C19D 16.59%, rgba(7, 120, 153, 0) 109.05%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.list-nav{
    display: flex;
    column-gap: 55px;
}

.link-item{
    color: rgba(255, 255, 255, 0.5);
    transition: .2s ease-in-out;
}

.link-item:hover{
    color: #fff;
}

.header-row{
    padding-top: 137px;
    display: flex;
    justify-content: space-between;
}

.offer{
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 46px;
}

.descriptor{
    color: rgba(255, 255, 255, 0.5);
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 46px;

}



.btn-text{
    display: flex;
    column-gap: 20px;
    padding-bottom: 30px;
    align-items: center;
}

.btn{
    width: 188px;
    height: 65px;
    background: linear-gradient(129.24deg, #16C19D 27.11%, #077899 67.02%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    transition: .3s ease-in-out;
}

.btn:hover{
    transform: translateY(-15px);
}

.text{
    
    font-weight: 700;
    font-size: 30px;
    text-decoration-line: underline;
}

.header-image{
    min-width: 315px;
}

/*section products*/

.products{
    display: flex;
    background-color: #151918;
    justify-content: center;
}
.owl-container{
    padding: 20px 0px;
    
}
.btn-left{
    position: relative;
    top:235px;
    left:-30px;
}

.btn-right{
    position: relative;
    top:-253px;
    left: 1210px;
    z-index: 1;
}

.container-suggestions{
    display: flex;
    justify-content: center;
    width: 100%;
}

.suggestions{
    padding-top: 39px;
    display: flex;
    column-gap: 60px;
    padding-bottom: 10px;
}

.item{
    width: 193px;
    height: 50px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.5);

}

.item:hover{
    cursor: pointer;
}

.active-item{
    border: 2.5px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    color: rgba(255, 255, 255);

}

.cards{
    padding-bottom: 60px;
    display: flex;
}

.card-product{
    background-color: #36383C;
    border-radius: 20px;
    width: 320px;
    padding: 20px;
    height: 421px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: .3s all ease-in-out;
}

.card-product:hover{
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.5));
    transform: translateY(-10px);
}

.swiper-buttons{
    padding-top: 30px;
}

.photo-product{
    max-width: 100px;
    max-height: 202px;
}
.owl-carousel .owl-item img{
    width: auto !important;
}
.description{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.btns{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 10px;
}
.add-to-favourites{
    cursor: pointer;
    width: 30px;
    transition: all .5s;
}
.add-to-favourites:hover{
    fill:#fff;
}
.add-to-cart{
    cursor: pointer;
    width: 35px;
    background: linear-gradient(129.24deg, #16C19D 27.11%, #077899 67.02%);
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.add-to-cart:hover{
    transition: .3s all ease-in-out;
    background: linear-gradient(129.24deg, #1618C1 27.11%, #077899 67.02%);
}

.info{
    max-width: 200px; 
    width: 100%;
}
.item-list-info{
    margin-top: 15px;
    font-size: 18px;
    font-weight: 500;
}


.price{
    font-size: 23px;
}

.type{
    color:rgba(255, 255, 255, 0.5);
}

.link-product{
    color:#fff;
}
.about{
    display: flex;
    background-color: #0C3B6D;
    justify-content: center;
}

.about-row{
    display: flex;
    column-gap: 100px;
    align-items: flex-start;
    padding: 60px 0;
}
.image{
    min-width: 200px;
}
.information h1{
    font-size: 36px;
    font-weight: 600;
}
.information p{
    margin-top: 30px;
    font-weight: 300;
    font-size: 20px;
    line-height: 35px;
}
.profile-cart{
    width: 60px;
    display: flex;
    justify-content: space-between;
}
.box-suggestions:not(.active){
    display: none;
}

a{
    color:#fff;
}